<!--<button (click)="data_service.apiCall('AAPL')">API call</button>-->
<!--<button (click)="data_service.getGraph('AAPL')">make API graph call</button>-->


<h1 style="color: #c2c2c2; text-align: center; font-size: 40px; margin-top: 10px">PaperInvest</h1>




<div style="display: flex; justify-content: center">
  <div style="width: 90%; background-color: rgba(255,255,255,0.35); height: 2px"></div>
</div>



<select #sybmols style="margin-top: 10px; margin-left: 10px;" (change)="selectSymbol(sybmols.value)">
  <option value="APPL">APPL</option>
  <option value="IBM">IBM</option>
<!--  <option value="">Amazon</option>-->
</select>


<br>
<button (click)="reload()" style="margin-top: 10px; margin-left: 10px; width: 60px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/OOjs_UI_icon_reload.svg" alt="">
</button>


<div style="display: flex; justify-content: center; padding: 10px; margin-top: 10px">
  <div id="graph" style="width: 800px; background-color: rgb(255,255,255);  padding: 15px; border-radius: 20px; border: 2px solid #888888"></div>
</div>


